*.swp
heroku/config.json
heroku/public/volunteer.js
heroku/public/bundle.js
node_modules/
public/bundle.js
public/volunteer.js
public/config.js
local-server/**/*
public-server/**/*
test/results/speedup/**/*
test/results/throughput/**/*
root/plotly.js
*.pem
*.env